.header{
    text-align: center;
}
.logo{
    height: 100px;
    width: 200px;
}
.header nav{
    background: black;
    line-height: 50px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    padding: 5px;
    border-radius: 3px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: lightgray;
    color: red;
}